.row-header {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
}

.startpage{
  background-color: #DDEEF3;
}

.row-content{
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.selectYourWayImage{
  height: 360px; 
  width: 360px;
  padding:10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 130px 0px 0px;
}


.selectYourWayCard{
  height: 619px;
  width: 377.13px;
  border-radius: 0px 130px 0px 130px;
}

.selectYourWayCardBody{
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
}

.square {
  display: flex;
  border-radius: 10px;
  width: 260px;
  height: 60px;
  background-color: #FEE3DD;
}